generated/fask.jpeg
generated/img copy.jpeg
generated/img.jpeg
generated/Screenshot 2022-03-02 at 16.28.05.png
generated/Screenshot 2022-03-02 at 16.35.49.png
__pycache__/app.cpython-39.pyc
__pycache__/images.cpython-39.pyc
__pycache__/sign.cpython-39.pyc
